.container {
  display: grid;
  grid-template-columns: 180px auto 180px;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "none header . "
    ". gallery . "
    ". bar . ";
  background-color: #222222;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "logo menu  search filter";
  height: 90px;
  width: 1440;
}
.gallery {
  grid-area: gallery;
}
.bar {
  grid-area: bar;
}

.logo {
  grid-area: logo;
}
.menu {
  grid-area: menu;
}
.search {
  grid-area: search;
}
.filter {
  grid-area: filter;
}

.logo__image {
  position: absolute;
  top: 37px;
  height: 17px;
}
.menu {
  position: absolute;
  top: 26px;
  left: 326px;
}
.menu__button {
  width: 86px;
  height: 40px;
  border-radius: 6px;
  border: solid 1px #363636;
  background-color: #1b1b1b;
}
.menu__text {
  width: 86px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.search {
  position: absolute;
  top: 26px;
  left: 800px;
  width: 356px;
  height: 40px;
  border-radius: 10px;
  background-color: #363636;
}
.search__image {
  width: 15px;
  height: 15px;
  color: #979797;
}
.search__input {
  border: none;
  width: 300px;
  height: 40px;
  background-color: #363636;
}

.filter__image {
  position: absolute;
  top: 26px;
  left: 1185px;
  width: 40px;
  height: 40px;
  border-radius: 6px;
}
