/* Стили для режима dark  */

.dark {
  background-color: #222222;
}
.dark .button {
  border: solid 1px #363636;
  background-color: #1b1b1b;
  color: #ffffff;
}
.dark .search {
  background-color: #363636;
}
.dark .search__icon {
  color: #979797;
}
.dark .search__input {
  background-color: #363636;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1080px;
  margin: 0 auto;
}

/* Стили для меню  */

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
  margin-bottom: 24px;
}
.header_left {
  display: flex;
  align-items: center;
}
.header_left a {
  text-decoration: none;
}
.header_left .button {
  margin-right: 18px;
}
.button {
  display: inline-block;
  width: 86px;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  text-align: center;
}
.button:last-child {
  margin-right: 0;
}
.header_left .logo {
  margin-right: 42px;
}
.header_right {
  display: flex;
}

.search {
  width: 356px;
  height: 40px;
  border-radius: 10px;
}
.search__icon {
  margin-left: 16px;
  margin-right: 7px;
  width: 15px;
  height: 15px;
}
.search__input {
  border: none;
  width: 300px;
  height: 40px;
}
.header_right .filter {
  margin-left: 29px;
}
.filter {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}
